* {
  font-family: "JetBrainsMonoNerdFont";
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
  margin: 5px 10px 0px;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#custom-wofi,
#custom-pacman,
#custom-spotify,
#workspaces,
#bluetooth,
#memory,
#cpu,
#disk,
#pulseaudio,
#clock {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 10px 3px 0px;
  border: 3px solid #181825;
  border-radius: 20px;
  color: #89b4fa;
}

#custom-pacman {
  color: #ff746c;
}

#custom-spotify {
  color: #1DB954
}

#workspaces button {
  color: #cdd6f4;
  padding: 0 5px;
  margin: 3px 3px;
  padding: 0 4px;
  background-color: #323b4a;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

/* This shows which workspaces have stuff in them (even if not active) */
#workspaces button.persistent {
  color: #323b4a;
  background-color: #a6adc8;
}

#workspaces button.empty {
  color: #cdd6f4;
  background-color: #323b4a;
}

#workspaces button:hover {
  /* Remove predefined box-shadow */
  box-shadow: none;
  /* Remove predefined text-shadow */
  text-shadow: none;
  /* Remove predefined background color (white) */
  background: none;
  /* Disable predefined animations */
  transition: none;
  color: #323b4a;
  background-color: #baed91;
}

#workspaces button.active,
#workspaces button.visible {
  color: #323b4a;
  background-color: #89b4fa;
}

/* URGENT (like a notification or a window demanding attention) */
#workspaces button.urgent {
  color: #323b4a;
  background-color: #f38ba8;
}

#memory {
  border-right: none;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#cpu {
  border-right: none;
  border-left: none;
  margin-right: 0;
  margin-left: 0;
  border-radius: 0;
}

#disk {
  border-left: none;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
