@import "styling/colors.css";
@import "styling/base.css";
@import "styling/modules/workspaces.css";
@import "styling/modules/metrics.css";
@import "styling/modules/pacman.css";
@import "styling/modules/spotify.css";
@import "styling/modules/system.css";
@import "styling/modules/battery.css";
@import "styling/modules/audio.css";
@import "styling/modules/connections.css";
@import "styling/modules/wofi.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
}

window.eDP-1 * {
  font-size: 13px;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @border;
}
