@import "../colors.css";

#battery.charging {
  color: @green-pastel;
}

@keyframes blink {
  to {
    color: @blue-pastel;
  }
}

#battery.warning:not(.charging) {
  color: @red-pastel;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
