@import "../colors.css";

#workspaces {
  border-color: @border;
}

#workspaces button {
  color: @white;
  margin: 3px 3px;
  padding: 0 4px;
  background-color: @dark-grey;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

/* This shows which workspaces have stuff in them (even if not active) */
#workspaces button.persistent {
  color: @dark-grey;
  background-color: @grey;
}

#workspaces button.empty {
  color: @white;
  background-color: @dark-grey;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  color: @dark-grey;
  background-color: @green-pastel;
}

#workspaces button.active,
#workspaces button.visible {
  color: @dark-grey;
  background-color: @blue-pastel;
}

/* URGENT (like a notification or a window demanding attention) */
#workspaces button.urgent {
  color: @dark-grey;
  background-color: @red-pastel;
}
